*secrets.yaml
*secrets.yml
*secrets.json
*secrets/*.yaml
*secrets/*.yml
*secrets/*.json
**/secrets.yaml
**/secrets.yml
**/secrets.json
**/secrets/*.yaml
**/secrets/*.yml
**/secrets/*.json
install-docker.sh
manifests/certs
manifests/auth